body {
    background: #000000; /* Fundal negru */
    color: #00FF00; /* Text verde */
}

.drag {
    background-color: #002B36; /* Fundal mai întunecat pentru elementele de drag */
    color: #00FF00; /* Text verde */
}

#header {
    background: #001F27; /* Fundal mai închis pentru header */
    color: #00FF00; /* Text verde */
}

#dropzone {
    height: 450px;
    cursor: pointer;
    background-color: #002B36; /* Fundal mai închis pentru dropzone */
    color: #00FF00; /* Text verde */
}

#output-box {
    display: none;
    background-color: #000000; /* Fundal negru */
    color: #00FF00; /* Text verde */
}

.ace_hidden-cursors {
    opacity: 0;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #001F27; /* Fundal întunecat la hover */
    color: #00FF00; /* Text verde */
}

#data {
    margin-bottom: 0;
    color: #00FF00; /* Text verde */
}

#data th span {
    cursor: help;
    color: #00FF00; /* Text verde */
}

#data th, #data td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #00FF00; /* Text verde */
}
