body {
    background: #000000;
    color: #FFFFFF;
}

.drag {
    background-color: #002B36;
    color: #FFFFFF;
}

#header {
    background: #001F27;
    color: #FFFFFF;
}

#dropzone {
    height: 450px;
    cursor: pointer;
    background-color: #002B36;
    color: #FFFFFF;
}

#output-box {
    display: none;
    background-color: #000000;
    color: #FFFFFF;
}

.ace_hidden-cursors {
    opacity: 0;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #001F27;
    color: #FFFFFF;
}

#data {
    margin-bottom: 0;
    color: #FFFFFF;
}

#data th span {
    cursor: help;
    color: #FFFFFF;
}

#data th, #data td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFFFFF;
}
